.button-styled {
    padding: 20px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
    width: 200px;

    &:hover {
        opacity: 0.7;
    }
}